.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
!.yarn/cache
#.pnp.*

node_modules/

# Compiled typescript
dist/*

.DS_Store

# local files
*.local.*

# test files
!vitest.local.config.mts
vitest.config.mts.timestamp-*

# env files
.env
.env.*

# projections file to easily jump to/from test file
.projections.json

# Jetbrains ide
.idea