name: Build and test

on:
  pull_request:
    branches:
      - 'main'

jobs:
  test:
    permissions:
      packages: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: yarn install
        run: yarn

      - name: Compile Typescript
        run: yarn build

      - name: Run tests
        run: yarn test

      - name: Validate secrets
        run: |
          if [ -z "${{ secrets.NPM_PUBLISH_TOKEN }}" ]; then
            echo "Missing NPM_PUBLISH_TOKEN secret. Please obtain from 1password."
            exit 1
          fi

          if [ -z "${{ secrets.CONTENTS_AND_WORKFLOWS_TOKEN }}" ]; then
            echo "Missing CONTENTS_AND_WORKFLOWS_TOKEN secret. Please obtain from 1password."
            exit 1
          fi

          echo "All required secrets are in place."
